<div class="container">
    <div class=" first d-flex row justify-content-center align-items-center">
        <div class="shadow justify-content-center align-items-center card col-md-4 m-3" style="width: 18rem;">
            <img [src]="IMAGE" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        <div class="shadow justify-content-center align-items-center card col-md-4 m-3" style="width: 18rem;">
            <img [src]="IMAGE" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        <div class="shadow justify-content-center align-items-center card col-md-4 m-3" style="width: 18rem;">
            <img [src]="IMAGE" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
    </div>
         <div class=" first flex row justify-content-center align-items-center mb-5">
            <div class="shadow justify-content-center align-items-center card col-md-4 m-3" style="width: 18rem;">
                <img [src]="IMAGE" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
          <div class="shadow justify-content-center align-items-center card col-md-4 m-3" style="width: 18rem;">
            <img [src]="IMAGE" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
           <div class="shadow justify-content-center align-items-center card col-md-4 m-3" style="width: 18rem;">
            <img [src]="IMAGE" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
    </div>
</div>
